#application.container
  %section#preview
    %img{:alt => "Share. Anything. Fast.", :height => "325", :src => "/images/application_preview.png", :width => "820"}/

  %section#signup
    %p
      %a{:href => "http://itunes.apple.com/us/app/cloud/id417602904?mt=12&ls=1"}
        %img{:alt => "Get it on the Mac AppStore", :height => "36", :src => "/images/appstore.png", :width => "233"}/
      %small
        requires OS X 10.6.6+

  %section#features
    %article#simple.clearfix
      %section.left
        %h2 Simple

        :markdown
          CloudApp allows you to share **images**, **links**, **music**, **videos** and **files**. Here is how it works: choose a file, drag it to the menubar and let us take care of the rest. We provide you with a short link automatically copied to your clipboard that you can use to share your upload with co-workers and friends.

          Additionally you can **view**, **track** and **delete** files right from your menubar.

      %aside.right
        %img{:alt => "Simple", :height => "266", :src => "/images/application_simple_illustration.png", :width => "400"}/

    %article#integrated.clearfix
      %aside.left
        %img{:alt => "Integrated", :height => "87", :src => "/images/application_integrated_illustration.png", :width => "340"}/

      %section.right
        %h2 Integrated

        :markdown
          **Drop** files from your Desktop or any Finder window or use the **hotkey** to quickly share the latest entry from your clipboard. Check out our [getting started guide](http://start.getcloudapp.com) for all the details.

    %article#accessible.clearfix
      %section.left
        %h2 Accessible

        :markdown
          CloudApp allows you to share, access and organize your uploads from anywhere in the world through an intuitive **web interface**.

          You can upload images on the go with our image uploader for the iPhone available soon on the iTunes **App Store**.

          If that's not enough, [use the same API](http://developer.getcloudapp.com/) our apps use to view and manage your uploads.

      %aside.right
        %img{:alt => "Accessible", :height => "345", :src => "/images/application_accessible_illustration.png", :width => "460"}/

    %article#reliable.clearfix
      %aside.left
        %img{:alt => "Reliable", :height => "202", :src => "/images/application_reliable_illustration.png", :width => "400"}/

      %section.right
        %h2 Reliable

        :markdown
          CloudApp is powered by [Heroku](http://heroku.com) and Amazon's [Simple Storage Service](http://aws.amazon.com/s3). Files are redundantly stored on multiple devices across multiple storage facilities preventing data corruption and loss.

          You can sleep well at night knowing your files are safe.

    %article#extendible.clearfix
      %section.left
        %h2 Extendible

        :markdown
          CloudApp ships with a range of plugins called **Raindrops** allowing you to extend functionality to your favorite applications for the Mac.

          Download Raindrops for **iPhoto**, **iTunes**, **Photoshop** and many more.

          Third-party developers can use the same technologies used by CloudApp's built-in functionality for their own applications.

      %aside.right
        %img{:alt => "Extendible", :height => "304", :src => "/images/application_extendible_illustration.png", :width => "460"}/
