#download.container
  .content
    %h2 Apps

    %ul#app
      %li.clearfix
        CloudApp 1.5 (Mac App Store)
        %span Requires Mac OS X 10.6.6 or above
        %a{:class => "right", :href => "http://itunes.apple.com/us/app/cloud/id417602904?mt=12&ls=1"} Download

      %li.clearfix
        CloudApp 1.5 (Standalone)
        %span Requires Mac OS X 10.6.6 or above
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/builds/CloudApp1.5.zip"} Download

      %li.clearfix{ :style => 'opacity: .5' }
        CloudApp 1.0.3 (Deprecated)
        %span Requires Mac OS X 10.5 or above
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/builds/CloudApp1.0.3.zip"} Download

    %h2 Plugins

    %ul#plugins
      %li#courier.clearfix
        Courier
        %span Uploads files to CloudApp <em>(Requires Courier 1.0)</em>
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/plugins/Courier.zip"}
