#download.container
  .content
    %h2 Apps

    %ul#app
      %li.clearfix
        CloudApp Mona Lisa (1.0.2)
        %span Requires Mac OS X 10.5
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/builds/CloudApp1.0.2.zip"} Download

    %h2 Raindrops

    %ul#raindrops
      %li.clearfix
        Aperture
        %span Uploads the selected images
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/Aperture.zip"} Download

      %li.clearfix
        Firefox
        %span Shortens the front window's URL
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/Firefox.zip"} Download

      %li.clearfix
        Google Chrome
        %span Shortens the front window's URL
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/GoogleChrome.zip"} Download

      %li.clearfix
        NetNewsWire
        %span Shortens the URL of the selected item
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/NetNewsWire.zip"} Download

      %li.clearfix
        Photoshop
        %span Uploads the frontmost canvas in its current state
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/Photoshop.zip"} Download

      %li.clearfix
        Spotify
        %span Shortens the URL of the selected song
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/Spotify.zip"} Download

      %li.clearfix
        VLC
        %span Uploads a snapshot of the movie
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/VLC.zip"} Download

      %li.clearfix
        Webkit
        %span Shortens the front window's URL
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/raindrops/Webkit.zip"} Download

    %h2 Plugins

    %ul#plugins
      %li#courier.clearfix
        Courier
        %span Uploads files to CloudApp <em>(Requires Courier 1.0)</em>
        %a{:class => "right", :href => "http://f.cl.ly.s3.amazonaws.com/plugins/Courier.zip"}
