!!! 5
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title CloudApp

    %meta{:charset => "utf-8"}/

    %meta{:content => "cloud, app, mac, share, images, files", :name => "keywords"}/
    %meta{:content => "Share. Files. Fast.", :name => "description"}/

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    %link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://blog.getcloudapp.com/feed.xml", :rel => "alternate", :type => "application/atom+xml"}/

    /[if IE]
      <link href="/stylesheets/iefix.css" rel="stylesheet" type="text/css">
      <script src="/javascripts/html5.js" type="text/javascript"></script>

  %body
    #wrapper
      %header.clearfix
        %h1.left
          %a{:href => "/"} CloudApp
        %nav.right
          %ul
            %li
              - if @loc
                Application
              - else
                %a{:href => "/"} Application

            %li
              %a{:href => "http://blog.getcloud.me/"} Blog

            %li
              %a{:href => "http://help.getcloud.me/"} Support

            %li.no_right
              %a{:href => "http://my.cl.ly/login"} Login

      = yield

      %footer.clearfix
        %ul.left
          %li &copy;2010 Linebreak S.L.

          %li
            Powered by
            %a{:href => "http://heroku.com"} Heroku

          %li
            %a{:href => "http://help.getcloud.me/kb/company/contact/"} Contact

          %li
            %a{:href => "http://help.getcloud.me/kb/site-policy/terms-of-service/"} Terms

          %li
            %a{:href => "http://help.getcloud.me/kb/site-policy/privacy-policy/"} Privacy

          %li.reset_all
            %a{:href => "http://developer.getcloud.me/"} Developer

        %ul.right
          %li.reset_all
            %a{:href => "http://www.twitter.com/getcloudapp"} Twitter
    
    :javascript
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4df10213f5a1f56cc2000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
        
