!!! 5
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title CloudApp

    %meta{:charset => "utf-8"}/

    %meta{:content => "cloud, app, mac, share, images, files", :name => "keywords"}/
    %meta{:content => "Share. Files. Fast.", :name => "description"}/

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    %link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://blog.getcloudapp.com/feed.xml", :rel => "alternate", :type => "application/atom+xml"}/

    /[if IE]
      <link href="/stylesheets/iefix.css" rel="stylesheet" type="text/css">
      <script src="/javascripts/html5.js" type="text/javascript"></script>

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13203564-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #steve-jobs
      %a{:href => "http://apple.com/"} Steve Jobs <em>&mdash; 1955-2011</em>

    #wrapper
      %header.clearfix
        %h1.left
          %a{:href => "/"} CloudApp
        %nav.right
          %ul
            %li
              - if @loc
                Application
              - else
                %a{:href => "/"} Application

            %li
              %a{:href => "http://store.getcloudapp.com/"} Store 

            %li
              %a{:href => "http://blog.getcloudapp.com/"} Blog

            %li
              %a{:href => "http://support.getcloudapp.com/"} Support

            %li.no_right
              %a{:href => "http://my.cl.ly/login"} Login

      = yield

      %footer.clearfix
        %ul.left
          %li &copy;2010 Linebreak S.L.

          %li
            Powered by
            %a{:href => "http://heroku.com"} Heroku

          %li
            %a{:href => "http://support.getcloudapp.com/kb/company/contact/"} Contact

          %li
            %a{:href => "http://support.getcloudapp.com/kb/site-policy/terms-of-service/"} Terms

          %li
            %a{:href => "http://support.getcloudapp.com/kb/site-policy/privacy-policy/"} Privacy

          %li.reset_all
            %a{:href => "http://developer.getcloudapp.com/"} Developer

        %ul.right
          %li.reset_all
            %a{:href => "http://www.twitter.com/cloudapp"} Twitter

    :javascript
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e042583613f5d4c52000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
